@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

header > a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  /* padding: 15px; */
}
a:hover {
  color: darkgreen;
}

.header_box {
  padding: 15px;
}
