@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Nunito";
}

.result_section > a {
  font-family: "Montserrat";
  font-size: 16px;
}

.result_section > a:hover,
.favorites_link_row > a:hover {
  color: #ff5c8a;
}

.result {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 90%;
  transition: all, 0.5s ease-in-out;
  background: linear-gradient(to bottom, #219ebc, #003049 100%);
  border: 1px solid #1d3557;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  margin: 3% 5% 10% 5%;
  padding: 0 5px 5px;
  box-shadow: 4px 4px #6b705c;
}
.result:hover {
  transform: scale(1.02);
}
.result_section {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.labels_row_top {
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.labels_row_bottom {
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.result_image {
  flex-grow: 1;
  padding: 15px;
  max-width: 50%;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.desc_row {
  flex-direction: column;
}
.link_row {
  width: 100%;
  text-align: center;
}
.favorite_row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.favorites_link_row {
  display: flex;
  justify-content: flex-end;
}

.fav_btn {
  background: transparent;
  border: none;
}

.middle {
  flex-wrap: wrap;
}

.description {
  padding: 10px;
  flex-grow: 3;
  font-size: 18px;
}

.title_row {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}

.result_label {
  padding: 8px;
  background: linear-gradient(to bottom, #e76f51, #f94144 100%);
  border-radius: 4px 12px;
  box-shadow: 3px 3px #457b9d;
  font-size: 14px;
  margin: 5px;
}

.top_block {
  color: white;
}
.view_link:hover {
  color: #ff5c8a;
  font-family: "Montserrat";
}
/* responsive styling for various sizes */
@media all and (min-width: 600px) {
  .labels_row_bottom {
    justify-content: space-around;
  }
  .title_row {
    font-size: 22px;
  }
  .result_label {
    font-size: 18px;
  }
  .result_section > a {
    font-family: "Montserrat";
    font-size: 22px;
  }
}
@media all and (min-width: 768px) {
  .desc_row {
    flex-direction: row;
  }
  .labels_block {
    display: flex;
    flex-direction: row;
  }
  .labels_row_bottom {
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
  }
  .labels_row_top {
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    font-size: 25px;
  }
  .title_row {
    font-size: 26px;
  }
  .result_label {
    font-size: 22px;
  }
  .result_section > a {
    font-family: "Montserrat";
    font-size: 26px;
  }
}
@media all and (min-width: 992px) {
  .description {
    font-size: 28px;
  }
  .title_row {
    font-size: 30px;
  }
  .result_label {
    font-size: 28px;
  }
  .result_section > a {
    font-family: "Montserrat";
    font-size: 30px;
  }
}

@media all and (min-width: 1200px) {
}
