@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.recs_block > h3,
p {
  font-family: "Montserrat";
  color: white;
}

.recs_block > h1 {
  color: black;
}
.results_header {
  font-family: "Montserrat";
  color: black;
}

.results_display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recs_form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.form_field {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-family: inherit;
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  margin: 10px;
  text-align-last: center;
}

.form_field:hover {
  cursor: pointer;
}
.form_field:focus {
  border-color: #1d3557;
  border-width: 2px;
}

.get_recs_button {
  margin-top: 8px;
  font-size: 14px;
  padding: 5px;
  font-family: "Nunito";
}
button:hover {
  cursor: pointer;
  color: #ff5c8a;
}

.button_row {
  width: 100%;
  text-align: center;
}

option {
  font-family: "Montserrat";
  text-align: center;
  color: darkslategray;
}

.instructions {
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}
/* responsive styling for various sizes */

@media all and (min-width: 768px) {
  .recs_form {
    flex-direction: row;
    justify-content: space-around;
  }

  .get_recs_button {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media all and (min-width: 992px) {
  .get_recs_button {
    margin-top: 12px;
    font-size: 20px;
  }
}
