@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.recs_block > h1,
h2,
h3,
p {
  font-family: "Montserrat";
  color: white;
}

.results_header {
  font-family: "Montserrat";
  color: white;
}

.recs_form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.form_field {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: inherit;
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  margin: 10px;
  text-align-last: center;
}

.form_field:hover {
  cursor: pointer;
}
.form_field:focus {
  border-color: #1d3557;
  border-width: 2px;
}

button {
  background: linear-gradient(to bottom, #219ebc, #003049 100%);
  border-radius: 5px;
  padding: 5px;
  color: white;
}
button:hover {
  cursor: pointer;
  color: #ff5c8a;
}

.button_row {
  width: 100%;
  text-align: center;
}

option {
  font-family: "Montserrat";
  text-align: center;
  color: darkslategray;
}

/* responsive styling for various sizes */
@media all and (min-width: 600px) {
}
@media all and (min-width: 768px) {
  .recs_form {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media all and (min-width: 992px) {
}

@media all and (min-width: 1200px) {
}
