@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background: radial-gradient(ellipse at bottom, #e76f51 0, #f4a261 100%);
}
.wrapper {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  background-size: cover;
}

h1,
h2,
h3,
h4,
p,
button {
  text-align: center;
}
button {
  background: linear-gradient(to bottom, #219ebc, #003049 100%);
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.header {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background: linear-gradient(to bottom, #e76f51, #f4a261);
}
.title {
  flex-grow: 1;
}

.nav {
  flex-grow: 2;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
}
